name: Automated Preprocessing

permissions:
  contents: write
  
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run preprocessing
      run: |
        python preprocessing/Automated_Sarah-Aryandi-N.py

    - name: Commit processed data
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "actions@github.com"
        git pull
        git add preprocessing/medical_cost_preprocessed.csv
        git commit -m "Update processed dataset" || echo "No changes to commit"
        git push
